@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Source+Sans+Pro:300,300i,600,600i,700,700i&subset=latin-ext');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body {
    background: #222;
    color: #eee;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Comfortaa', cursive;
	font-weight: 700;
}

a {
	text-decoration: none;
	color: purple;
}

.current a {
	font-weight: bold;
}

img {
	max-width: 100%;
	height: auto;
}


/* header */

header {
	background: #fff;
	color: #000;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header li {
	list-style-type: none;
	display: inline-block;
	margin-left: 1em;
}


/* main */

.row {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

main {
	display: flex;
	flex-wrap: wrap;
	padding: 2rem 0;
}

#content {
	background: #fff;
	color: #222;
	flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 60%
}

#content, aside {
	padding: 2rem;
}

aside {
	background: #830b0b;
	flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;
    min-width: calc(200px + 40px);
    font-size: .85em;
}

p {
	margin-top: 1em;
}

p:first-child {
	margin-top: 0;
}

.alignLeft {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.alignRight {
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
}

.clearLeft {
	clear: left;
}

.clearRight {
	clear: right;
}

.clearBoth {
	clear: both;
}

.alignCenter {
    display: block;
    margin: 1em auto;
}


/* ksiazki */

aside ul li {
	list-style: none;
	margin-top: .5rem;
}

.autor {
	font-style: italic;
	font-size: : .9em;
}

aside>img {
	margin-bottom: .8rem;
}


/* One Page Layout */

#one-page {
	padding-top: 74px;
}

#one-page header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	box-shadow: 0 6px 6px -4px rgba(0,0,0,0.2);
}

#one-page main {
	display: block;
	padding: 0;
}

.white {
	background: #fff;
	color: #1c1c1c;
}

.blue {
	background: #113f74;
}

.green {
	background: #1f5e39;
}

#one-page main section {
	padding: 5rem 5%;
}

#one-page section h1 {
	text-align: center;
	margin-bottom: 1em;
}

#hello .content {
	column-count: 3;
	column-gap: 2rem;
	max-width: unset;
}

section .content {
	max-width: 750px;
	margin: 0 auto;
}

#book ul li {
	list-style: none;
	margin-top: .5rem;
	text-align: center;
}

#book li:first-child {
	margin-top: 2em;
}

#book img {
	max-height: 250px;
	width: auto;
}

#menu-button {
	display: none;
}

/* footer */

footer {
	padding: 20px;
	background: #555;
}


/* menu */

@media screen and (max-width: 800px) {
	
	
	#menu-button {
		display: block;
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		background: #eee;
		color: #000;
		position: relative;
	}
	
	#menu-button i {
		transition: all 0.4s;
	}
	
	#menu-button i ~ i {
		position: absolute;
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		top: 0;
		right: 0;
		transform: scale(0,0);
	}
	
	nav {
		display: none;
	}
	
}